<li>
    {{ form_widget(address.label, { attr: { 'placeholder': 'address.form.label'|trans } }) }}
    {{ form_errors(address.label) }}
</li>

<li>
    {{ form_widget(address.zip.code, { attr: { 'placeholder': 'address.form.zip'|trans } }) }}
    {{ form_errors(address.zip.code) }}
</li>

<li>
    {{ form_widget(address.zip.country, { attr: { 'placeholder': 'address.form.country'|trans } }) }}
    {{ form_errors(address.zip.country) }}
</li>
