{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.label) }}
            {{ form_row(form.typeSite) }}

            <fieldset>
                <legend>{{ 'sites.list.activities'|trans }}</legend>
                {{ form_errors(form.siteActivities) }}

                {% for siteActivity in form.siteActivities %}
                    <dl>
                        {% if subActivities[siteActivity.vars.value] is defined %}
                            <dt>{{ siteActivity.vars.label }}</dt>

                            {% for subSiteActivity in form.subSiteActivities %}
                                {% if subActivities[siteActivity.vars.value] is defined %}
                                    {% if subSiteActivity.vars.value in subActivities[siteActivity.vars.value] %}
                                        <dd>{{ form_row(subSiteActivity) }}</dd>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <dt>{{ siteActivity.vars.label }} {{ form_widget(siteActivity) }}</dt>
                        {% endif %}
                    </dl>
                {% endfor %}
            </fieldset>

            {{ form_row(form.contacts) }}

            {{ form_row(form.dangerousSubstances) }}

            {{ form_row(form.products) }}
            {{ form_row(form.importance) }}
            {{ form_row(form.currency) }}
            {{ form_row(form.language) }}

            {{ form_row(form.address.label) }}
            {{ form_row(form.address.zip.code) }}
            {{ form_row(form.address.zip.city) }}
            {{ form_row(form.address.zip.country) }}

            {{ form_row(form.phone) }}
            {{ form_row(form.fax) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.enabled) }}

            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                save_form: form.save,
                url_cancel: path('srm_website_sites_list', {'organisationId': organisationId})
            }, with_context = false) }}

            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}
