{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        <table class="table table-hover table-condensed">
            <caption>
                <div class="text-left"><h3>{{ 'sites.list.title'|trans }}</h3></div>
                <div class="text-right">
                    <a href="{{ path('srm_website_sites_add', { 'organisationId': organisation.organisationId }) }}" class="btn" title="{{ 'button.add'|trans }}"><i class="icon-plus"></i> {{ 'button.add'|trans }}</a>
                </div>
            </caption>
            <thead>
                <tr>
                    <td>{{ 'sites.list.name'|trans }}</td>
                    <td>{{ 'sites.list.organisation'|trans }}</td>
                    <td>{{ 'sites.list.type'|trans }}</td>
                    <td>{{ 'sites.list.activities'|trans }}</td>
                    <td>{{ 'sites.list.sub_activities'|trans }}</td>
                    <td>{{ 'address.label'|trans }}</td>
                    <td>{{ 'sites.list.enabled'|trans }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.label }}</td>
                        <td>{{ site.organisation.label }}</td>
                        <td>{{ site.typeSite.label }}</td>
                        <td>
                            {% if site.siteActivities %}
                                {{ site.siteActivities|joinLabels(', ') }}
                            {% else %}
                                {{ 'sites.list.no_activities'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% if site.subSiteActivities %}
                                {{ site.subSiteActivities|joinLabels(', ') }}
                            {% else %}
                                {{ 'sites.list.no_sub_activities'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            <address>
                                {{ site.address.label }}<br>
                                {{ site.address.zip.code }} {{ site.address.zip.city.label }}<br>
                                {{ site.address.zip.city.country.label }}<br>
                            </address>
                        </td>
                        <td>
                            {% if site.enabled %}
                                {{ 'enabled'|trans }}
                            {% else %}
                                {{ 'disabled'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a href="{{ path('srm_website_site_show', { 'organisationId': organisation.organisationId, 'siteId': site.siteId }) }}" class="btn" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                    <a href="{{ path('srm_website_site_edit', { 'organisationId': organisation.organisationId, 'siteId': site.siteId }) }}" class="btn" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                    <a href="{{ path('srm_website_site_disable', { 'organisationId': organisation.organisationId, 'siteId': site.siteId }) }}" class="btn" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="8">{{ 'sites.list.empty'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
