{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-building"></i> {{ 'sites.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'sites.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'sites.list.title'|trans }} </span>
                        <ul class="box-toolbar">
                            <li><a class="btn btn-green btn-mini spacer" href="{{ path('srm_website_sites_add', { 'organisationId': organisation.organisationId }) }}">{{ 'button.add'|trans }}</a>
                                <!--<a class="btn btn-green btn-mini">Exporter</a>-->
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <table class="table table-normal">
                            <thead>
                                <tr><td>{{ 'sites.list.name'|trans }}</td>
                                    <td>{{ 'sites.list.organisation'|trans }}</td>
                                    <td>{{ 'sites.list.type'|trans }}</td>
                                    <td>{{ 'address.label'|trans }}</td>
                                    <td>{{ 'address.zip'|trans }}</td>
                                    <td>{{ 'address.city'|trans }}</td>
                                    <td>{{ 'address.country'|trans }}</td>
                                    <td>{{ 'list.enabled'|trans }}</td>
                                    <td style="width:115px"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for site in sites %}
                                    <tr>
                                        <td>{{ site.label }}</td>
                                        <td>{{ site.organisation.label }}</td>
                                        <td>{{ site.typeSite.label }}</td>
                                        <td>{{ site.address.label }}</td>
                                        <td>{{ site.address.zip.code }}</td>
                                        <td>{{ site.address.zip.city.label }}</td>
                                        <td>{{ site.address.zip.city.country.label }}</td>
                                        <td>
                                            {% if site.enabled %}
                                                {{ 'enabled'|trans }}
                                            {% else %}
                                                {{ 'disabled'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('srm_website_site_show', { 'organisationId': organisation.organisationId, 'siteId': site.siteId }) }}" class="btn btn-default" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                                <a href="{{ path('srm_website_site_edit', { 'organisationId': organisation.organisationId, 'siteId': site.siteId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                                <a href="{{ path('srm_website_site_disable', { 'organisationId': organisation.organisationId, 'siteId': site.siteId }) }}" class="btn btn-danger" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="9">{{ 'sites.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
