{% extends "SrmWebsiteBundle::layout.html.twig" %}

{% block content %}
    <div>
        <table>
            <thead>
                <tr>
                    <td><h2>{{ 'sites.title'|trans }}</h2></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="{{ path('srm_website_sites_add', {'organisationId': organisation.organisationId}) }}">
                            <button type="submit">{{ 'navigation.button.add'|trans }}</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'sites.table.header.name'|trans }}</td>
                    <td>{{ 'sites.table.header.code'|trans }}</td>
                    <td>{{ 'sites.table.header.type'|trans }}</td>
                    <td>{{ 'sites.table.header.country'|trans }}</td>
                    <td>{{ 'sites.table.header.substances'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.label }}</td>
                        <td>{{ site.label }}</td>
                        <td>{{ site.typeSite.label }}</td>
                        <td>{{ site.address.zip.city.country.label }}</td>
                        <td>
                            {% if site.dangerousSubstances %}
                                {% set substancesStr = [] %}
                                {% for substance in site.dangerousSubstances %}
                                    {% set substancesStr = substancesStr|merge([substance.label]) %}
                                {% endfor %}
                                {{ substancesStr|join(', ') }}
                            {% else %}
                                {{ 'sites.no_dangerous_substances'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="5">{{ 'sites.empty_list'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
