{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        <fieldset>
            <legend>{{ site.label }}</legend>
            <ul class="unstyled">
                <li>{{ 'site.label'|trans }} : {{ site.label }}</li>
                <li>{{ 'address.label'|trans }} : {{ site.address.label }}</li>
                <li>{{ 'address.zip'|trans }} : {{ site.address.zip.code }}</li>
                <li>{{ 'address.city'|trans }} : {{ site.address.zip.city.label }}</li>
                <li>{{ 'address.country'|trans }} : {{ site.address.zip.city.country.label }}</li>
                <li>{{ 'phone'|trans }} : {{ site.phone }}</li>
                <li>{{ 'email'|trans }} : {{ site.mail }}</li>
                <li>{{ 'fax'|trans }} : {{ site.fax }}</li>
                <li>{{ 'site.type_site'|trans }} : {{ site.typeSite.label }}</li>
                <li>{{ 'sites.list.activities'|trans }} : {% if site.siteActivities %}{{ site.siteActivities|joinLabels(', ') }}{% else %}{{ 'list.no_activities'|trans }}{% endif %}</li>
                <li>{{ 'sites.list.sub_activities'|trans }} : {% if site.subSiteActivities %}{{ site.subSiteActivities|joinLabels(', ') }}{% else %}{{ 'list.no_sub_activities'|trans }}{% endif %}</li>
                <li>{{ 'site.dangerous_substances'|trans }} : {% if site.dangerousSubstances %}{{ site.dangerousSubstances|joinLabels(', ') }}{% else %}-{% endif %}</li>
                <li>{{ 'site.importance'|trans }} : {{ site.importance }}</li>
            </ul>
        </fieldset>

        {{ include('SrmWebsiteBundle:Partials:_edit_cancel.html.twig', {
            url_edit:   path('srm_website_site_edit',  {'organisationId': organisationId, 'siteId': site.siteId}),
            url_cancel: path('srm_website_sites_list', {'organisationId': organisationId})
        }, with_context = false) }}
    </div>
{% endblock %}
