{% extends '::layout.html.twig' %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function() {

                $('#srm_referencial_referencialType').on('change', function() {
                    getIndicators($(this), 'referencialType', '');
                }).trigger('change');

                $('#srm_referencial_category2').hide();
                $('[for=srm_referencial_category2]').hide();
                $('#srm_referencial_category3').hide();
                $('[for=srm_referencial_category3]').hide();
                
                $('#srm_referencial_toGroupStakeholder').on('change', function() {
                    if ($('#srm_referencial_toGroupStakeholder').val() == ''){
                        $('[for=srm_referencial_fromGroupStakeholder]').show();
                        $('#srm_referencial_fromGroupStakeholder').show();
                        $('$srm_referencial_fromGroupStakeholder').addClass('chzn-select');
                    } else  {
                        $('#srm_referencial_fromGroupStakeholder').hide();
                        $('[for=srm_referencial_fromGroupStakeholder]').hide();
                    }
                }).trigger('change');

                $('#srm_referencial_category1').on('change', function() {
                    
                    $('#srm_referencial_category2 option').remove();
                    $.ajax({
                        url: "{{ path('category2_by_category1', {'organisationId': organisationId}) }}",
                        type: "GET",
                        data: "category1_ids="+$(this).val(),
                        success: function(data){
                            if (data != ''){
                                $('#srm_referencial_category2').show();
                                $('[for=srm_referencial_category2]').show();
                                $('#srm_referencial_category2').append(data);
                            }
                        }
                    }).trigger('select');
                    getIndicators($(this), 'category1', $('#srm_referencial_referencialType').val());
                });

                $('#srm_referencial_category2').on('change', function() {
                    
                    $('#srm_referencial_category3 option').remove();
                    $.ajax({
                        url: "{{ path('category3_by_category2', {'organisationId': organisationId}) }}",
                        type: "GET",
                        data: "category2_ids="+$(this).val(),
                        success: function(data){
                            if (data != ''){
                                $('#srm_referencial_category3').show();
                                $('[for=srm_referencial_category3]').show();
                                $('#srm_referencial_category3').append(data);
                            }  
                        }
                    }).trigger('change');
                    getIndicators($(this), 'category2', $('#srm_referencial_referencialType').val());
                });

                $('#srm_referencial_category3').on('change', function() {
                    getIndicators($(this), 'category3', $('#srm_referencial_referencialType').val());
                }).trigger('change');

                function getIndicators(element, elementType, referencialTypeId){
                    $('#srm_referencial_referencialIndicators_indicators option').remove();
                    $.ajax({
                        url: "{{ path('indicators_by_categories', {'organisationId': organisationId}) }}",
                        type: "GET",
                        data: "elements_id="+$(element).val()+"&elementType="+elementType+"&referencialType="+referencialTypeId,
                        success: function(data){
                            $('#srm_referencial_referencialIndicators_indicators').append(data);
                        }
                    });
                }

                /*$('#srm_referencial_referencialCategories').on('change', function() {
                    $('#srm_referencial option').remove();
                    $.ajax({
                        url: "{{ path('indicators_by_categories', {'organisationId': organisationId}) }}",
                        type: "GET",
                        data: "categories_id="+$(this).val(),
                        success: function(data){
                            $('#srm_referencial').append(data);
                        }
                    });
                });*/

                
            });   
        </script>
{% endblock %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'referencials.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'referencials.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'referencials.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.referencialType) }}
                                    <div class="controls">{{ form_widget(form.referencialType, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.label) }}
                                    <div class="controls">{{ form_widget(form.label) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.description) }}
                                    <div class="controls">{{ form_widget(form.description) }}</div>
                                </div>
       
                                <div class="control-group">
                                    {{ form_label(form.toGroupStakeholder) }}
                                    <div class="controls">{{ form_widget(form.toGroupStakeholder) }}</div>
                                </div>  

                                <div class="control-group">
                                    {{ form_label(form.category1) }}
                                    <div class="controls">{{ form_widget(form.category1) }}</div>
                                </div>  

                                <div class="control-group">
                                    {{ form_label(form.category2) }}
                                    <div class="controls">{{ form_widget(form.category2) }}</div>
                                </div>  

                                <div class="control-group">
                                    {{ form_label(form.category3) }}
                                    <div class="controls">{{ form_widget(form.category3) }}</div>
                                </div>  

                                <div class="control-group">
                                    {{ form_label(form.indicators) }}
                                    <div class="controls">{{ form_widget(form.indicators) }}</div>
                                </div>

                                <div class="control-group">
                                    {{ form_label(form.fromGroupStakeholder) }}
                                    <div class="controls">{{ form_widget(form.fromGroupStakeholder) }}</div>
                                </div>  

                                <div class="control-group">
                                    <label class="control-label" for="srm_site_enabled">{{ form.enabled.vars.label|trans }}</label>
                                    <div class="controls">
                                        {{ form_widget(form.enabled, {'attr': {'class': 'icheck'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_indicator_referencial_list', {'organisationId': organisationId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}