{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-building"></i> {{ 'referencials.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicator.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicator.nav.activate'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div id="flash-messages">
        {% for flashMessage in app.session.flashbag.get('success_referencial') %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error_referencial') %}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info_referencial') %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'referencials.list.title'|trans }} </span>
                        <ul class="box-toolbar">
                            <li><a class="btn btn-green btn-mini spacer" href="{{ path('srm_indicator_referencial_add', { 'organisationId': organisation.organisationId }) }}">{{ 'button.add'|trans }}</a>
                                <!--<a class="btn btn-green btn-mini">Exporter</a>-->
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td>{{ 'referencials.list.referencial'|trans }}</td>
                                    <td>{{ 'referencials.list.name'|trans }}</td>
                                    <td>{{ 'referencials.list.description'|trans }}</td>
                                    <td>{{ 'list.enabled'|trans }}</td>
                                    <td style="width:115px"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for referencial in referencials %}
                                    <tr>
                                        <td>{{ referencial.referencialType.label }}</td>
                                        <td>{{ referencial.label }}</td>
                                        <td>{{ referencial.description }}</td>
                                        <td>
                                            {% if referencial.enabled %}
                                                {{ 'enabled'|trans }}
                                            {% else %}
                                                {{ 'disabled'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('srm_indicator_referencial_show', { 'organisationId': organisation.organisationId, 'referencialId': referencial.referencialId }) }}" class="btn btn-default" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                                <a href="{{ path('srm_indicator_referencial_edit', { 'organisationId': organisation.organisationId, 'referencialId': referencial.referencialId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                                <a href="{{ path('srm_indicator_referencial_disable', { 'organisationId': organisation.organisationId, 'referencialId': referencial.referencialId }) }}" onclick="return confirm('{{ 'popup.disable'|trans}}')" class="btn btn-danger" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="9">{{ 'referencials.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
