{% extends '::layout.html.twig' %}


{% block main_container_header %}
    <i class="icon-sitemap"></i> {{ 'contacts.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.nav.general'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
	<div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'contacts.nav.general'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}
                        
							<div class="box-content padded">
                            	<div class="row-fluid">
                                    <div class="span6">
                                   
                            		<div class="control-group">         
	                                    {{ form_label(form.gender) }} 
	                                    <div class="controls">{{ form_widget(form.gender) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.lastname) }}
	                                    <div class="controls">{{ form_widget(form.lastname) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.firstname) }}
	                                    <div class="controls">{{ form_widget(form.firstname) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.contactFunction) }}
	                                    <div class="controls">{{ form_widget(form.contactFunction) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.officePhone) }}
	                                    <div class="controls">{{ form_widget(form.officePhone) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.mobilePhone) }}
	                                    <div class="controls">{{ form_widget(form.mobilePhone) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.fax) }}
	                                    <div class="controls">{{ form_widget(form.fax) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.mail) }}
	                                    <div class="controls">{{ form_widget(form.mail) }}</div>
	                                </div>
                                
                                  <div class="control-group">
                                    {{ form_label(form.departments) }}
                                    <div class="controls">{{ form_widget(form.departments, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div> 
                                <div class="control-group">
                                    {{ form_label(form.sites) }}
                                    <div class="controls">{{ form_widget(form.sites, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div> 
                                        </div>
                                        <div class="span6">
	                                <div class="control-group">
	                                    {{ form_label(form.address.label) }}
	                                    <div class="controls">{{ form_widget(form.address.label) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.zip) }}
	                                    <div class="controls">{{ form_widget(form.address.zip) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.city) }}
	                                    <div class="controls">{{ form_widget(form.address.city) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.country) }}
	                                    <div class="controls">{{ form_widget(form.address.country, {'attr': {'class': 'chzn-select'}}) }}</div>
	                                </div>
	                                 <div class="control-group">
	                                    {{ form_label(form.image) }}
	                                    <div class="controls">{{ form_widget(form.image) }}</div>
	                                </div> 
					
					{{ form_row(form.comments) }}
						
						            <div class="control-group">
						                <label class="control-label" for="srm_contact_isUser">{{ form.isUser.vars.label|trans }}</label>
						                <div class="controls">
						                    {{ form_widget(form.isUser) }}
						                </div>
						            </div>
						
						            <div class="control-group">
						                <label class="control-label" for="srm_contact_enabled">{{ form.enabled.vars.label|trans }}</label>
						                <div class="controls">
						                    {{ form_widget(form.enabled) }}
                                        </div> 
                                    </div>
                                    <div id="interne" >
                                                                
                                </div>
                                                
                            </div>
                        </div>	
                        			
			            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
			                save_form: form.save,
			                url_cancel: path('srm_website_contacts_list', {'organisationId': organisationId})
			            }, with_context = false) }}

            			<div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
                </div>
{% endblock %}