{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.gender) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.contactFunction) }}
            {{ form_row(form.officePhone) }}
            {{ form_row(form.mobilePhone) }}
            {{ form_row(form.fax) }}
            {{ form_row(form.mail) }}

            {{ form_row(form.address.label) }}
            {{ form_row(form.address.zip.code) }}
            {{ form_row(form.address.zip.city) }}
            {{ form_row(form.address.zip.country) }}

            <div class="control-group">
                <label class="control-label" for="srm_contact_shareholder">{{ form.shareholder.vars.label|trans }}</label>
                <div class="controls">
                    {{ form_widget(form.shareholder) }}
                </div>
            </div>

            {{ form_row(form.parts) }}

            {{ form_row(form.picture) }}
            {{ form_row(form.comments) }}

            <div class="control-group">
                <label class="control-label" for="srm_contact_isUser">{{ form.isUser.vars.label|trans }}</label>
                <div class="controls">
                    {{ form_widget(form.isUser) }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="srm_contact_enabled">{{ form.enabled.vars.label|trans }}</label>
                <div class="controls">
                    {{ form_widget(form.enabled) }}
                </div>
            </div>

            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                save_form: form.save,
                url_cancel: path('srm_website_contacts_list', {'organisationId': organisationId})
            }, with_context = false) }}

            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}
