{% extends '::layout.html.twig' %}


{% block main_container_header %}
    <i class="icon-sitemap"></i> {{ 'contacts.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.nav.general'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
	<div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'contacts.nav.general'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}
                        
							<div class="box-content padded">
                            	<div class="padded-box">
                                   
                                    <div class="control-group"> 
                                     <label class="required control-label" >Type</label>  
                                       <div class="controls">
                                                <select onchange="getval(this);" >
                                                            <option selected="yes" value="0">choisissez le type d'utilisateur </option>
                                                            <option value="1">Utilisateur interne</option>
                                                            <option value="2">Utilisateur externe</option>
                                                            <option value="3">Actionnaire</option>
                                                </select>
                                                    </div>             </div>  
                                    
                                       
                            		<div class="control-group">         
	                                    {{ form_label(form.gender) }}
	                                    <div class="controls">{{ form_widget(form.gender) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.lastname) }}
	                                    <div class="controls">{{ form_widget(form.lastname) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.firstname) }}
	                                    <div class="controls">{{ form_widget(form.firstname) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.contactFunction) }}
	                                    <div class="controls">{{ form_widget(form.contactFunction) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.officePhone) }}
	                                    <div class="controls">{{ form_widget(form.officePhone) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.mobilePhone) }}
	                                    <div class="controls">{{ form_widget(form.mobilePhone) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.fax) }}
	                                    <div class="controls">{{ form_widget(form.fax) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.mail) }}
	                                    <div class="controls">{{ form_widget(form.mail) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.label) }}
	                                    <div class="controls">{{ form_widget(form.address.label) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.zip.code) }}
	                                    <div class="controls">{{ form_widget(form.address.zip.code) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.zip.city) }}
	                                    <div class="controls">{{ form_widget(form.address.zip.city) }}</div>
	                                </div>
	                                <div class="control-group">
	                                    {{ form_label(form.address.zip.country) }}
	                                    <div class="controls">{{ form_widget(form.address.zip.country) }}</div>
	                                </div>
	                                 
						        
						        
						
						            {{ form_row(form.picture) }}
						            {{ form_row(form.comments) }}
						
						            <div class="control-group">
						                <label class="control-label" for="srm_contact_isUser">{{ form.isUser.vars.label|trans }}</label>
						                <div class="controls">
						                    {{ form_widget(form.isUser) }}
						                </div>
						            </div>
						
						            <div class="control-group">
						                <label class="control-label" for="srm_contact_enabled">{{ form.enabled.vars.label|trans }}</label>
						                <div class="controls">
						                    {{ form_widget(form.enabled) }}
                                                                    </div> </div>
                                                                <div id="interne" >
                                                                
                                                                </div>
                                            <div id="actionnaire">
                                            {{ form_row(form.parts) }}
                                            </div>
                                                
                                        </div>
						
					            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
					                save_form: form.save,
					                url_cancel: path('srm_website_contacts_list', {'organisationId': organisationId})
					            }, with_context = false) }}

            			<div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
                </div>
{% endblock %}

   
    {% block javascripts %}
   
<script type="text/javascript">
       function getval(sel) {
       if (sel.value == 1){
            document.getElementById('interne').style.display="block";
            document.getElementById('actionnaire').style.display ="none";
       } else if (sel.value == 2)  {
        document.getElementById('interne').style.display="none";
        document.getElementById('actionnaire').style.display ="none";
       }
         else if (sel.value == 3)   {
         document.getElementById('actionnaire').style.display ="block";
       }
         else    {
          alert("Il faut choisir le type d'utilisateur");
       }}

         </script>
{% endblock %}