{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'contacts.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.nav.general'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div id="flash-messages">
        {% for flashMessage in app.session.flashbag.get('success_contact') %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error_contact') %}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info_contact') %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage|trans|raw|nl2br }}
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'contacts.list.title'|trans }} </span>
                        <ul class="box-toolbar">
                            <li><a class="btn btn-green btn-mini spacer" href="{{ path('srm_website_contacts_add', { 'organisationId': organisation.organisationId}) }}" class="btn" title="{{ 'button.add'|trans }}"><i class="icon-plus"></i> {{ 'button.add'|trans }}</a>
                                                   
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
						{% if contact is defined %}
                            <table class="dTable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        {% else %}
                            <table class="responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        {% endif %}
			            	<thead>
				                <tr role="row">
								
				                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending">
									{{ 'contact.lastname'|trans }}</th>
				                    <th class="sorting_dsc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'contact.firstname'|trans }}</div></th>
				                    <th  class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'contact.function'|trans }}</div></th>
				                    <th  class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'address'|trans }}</div></th>
				                    <th  class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'phone.office'|trans }}</div></th>
				                    <th  class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'email'|trans }}</div></th>
				                    <th  class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'contact.enabled'|trans }}</div></th>
				                    <th></th>
				                </tr>
				            </thead>
    			            <tbody  role="alert" aria-live="polite" aria-relevant="all">
                                {% for contact in contacts %}
                                    <tr class="odd">
                                        <td class=" sorting_1">{{ contact.lastname }}</td>
                                        <td>{{ contact.firstname }}</td>
                                        <td>{{ contact.contactFunction }}</td>
                                      <td>{% if contact.address %}{{ contact.address.label }}{% endif %}</td>
                                        <td>{{ contact.officePhone }}</td>
                                        <td>{{ contact.mail }}</td>
                                        <td>
                                            {% if contact.enabled %}
                                                {{ 'enabled'|trans }}
                                            {% else %}
                                                {{ 'disabled'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-toolbar">
                                                <div class="btn-group">
                                                    <a href="{{ path('srm_website_contact_show', { 'organisationId': organisation.organisationId, 'contactId': contact.contactId }) }}" class="btn btn-default" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                                    <a href="{{ path('srm_website_contact_edit', { 'organisationId': organisation.organisationId, 'contactId': contact.contactId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                                    <a href="{{ path('srm_website_contact_disable', { 'organisationId': organisation.organisationId, 'contactId': contact.contactId }) }}" onclick="return confirm('{{ 'popup.disable'|trans}}')" class="btn btn-danger" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                                  <!--  {% if contact.isUser == true %}
                                                        <a href="{{ path('srm_website_user_edit', { 'organisationId': organisation.organisationId, 'userId': contact.contactId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-user"></i></a>
                                                    {% endif %} -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="8">{{ 'contacts.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
