{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        <table class="table table-hover table-condensed">
            <caption>
                <div class="text-left"><h3>{{ 'contacts.list.title'|trans }}</h3></div>
                <div class="text-right">
                    <a href="{{ path('srm_website_contacts_add', { 'organisationId': organisation.organisationId }) }}" class="btn" title="{{ 'button.add'|trans }}"><i class="icon-plus"></i> {{ 'button.add'|trans }}</a>
                </div>
            </caption>
            <thead>
                <tr>
                    <td>{{ 'contact.lastname'|trans }}</td>
                    <td>{{ 'contact.firstname'|trans }}</td>
                    <td>{{ 'contact.function'|trans }}</td>
                    <td>{{ 'address.city'|trans }}</td>
                    <td>{{ 'phone.office'|trans }}</td>
                    <td>{{ 'email'|trans }}</td>
                    <td>{{ 'role'|trans }}</td>
                    <td>{{ 'list.enabled'|trans }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.lastname }}</td>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.contactFunction }}</td>
                        <td>{% if contact.address %}{{ contact.address.zip.city.label }}{% endif %}</td>
                        <td>{{ contact.officePhone }}</td>
                        <td>{{ contact.mail }}</td>
                        <td>{% if contact.role %}{{ contact.role.label }}{% endif %}</td>
                        <td>
                            {% if contact.enabled %}
                                {{ 'enabled'|trans }}
                            {% else %}
                                {{ 'disabled'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <a href="{{ path('srm_website_contact_show', { 'organisationId': organisation.organisationId, 'contactId': contact.contactId }) }}" class="btn" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                    <a href="{{ path('srm_website_contact_edit', { 'organisationId': organisation.organisationId, 'contactId': contact.contactId }) }}" class="btn" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                    <a href="{{ path('srm_website_contact_disable', { 'organisationId': organisation.organisationId, 'contactId': contact.contactId }) }}" class="btn btn-danger" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr class="info"><td colspan="9">{{ 'contacts.list.empty'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
