{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-sitemap"></i> {{ 'contacts.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'contacts.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title">{{ contact.label }}</span>
                    </div>
                    <div class="box-content padded">
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.gender'|trans }} :</label>
                                <div class="controls">{{ contact.gender.label }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.lastname'|trans }} :</label>
                                <div class="controls">{{ contact.lastname }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.firstname'|trans }} :</label>
                                <div class="controls">{{ contact.firstname }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.function'|trans }} :</label>
                                <div class="controls">{{ contact.contactFunction }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'phone.office'|trans }} :</label>
                                <div class="controls">{{ contact.officePhone }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'phone.mobile'|trans }} :</label>
                                <div class="controls">{{ contact.mobilePhone }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'fax'|trans }} :</label>
                                <div class="controls">{{ contact.fax }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'email'|trans }} :</label>
                                <div class="controls">{{ contact.mail }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.picture'|trans }} :</label>
                                <div class="controls">{{ contact.picture }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.comments'|trans }} :</label>
                                <div class="controls">{{ contact.comments }}</div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.is_user'|trans }} :</label>
                                <div class="controls">
                                	{% if contact.isUser %}
                                        {{ 'enabled'|trans }}
                                    {% else %}
                                        {{ 'disabled'|trans }}
                                    {% endif %}	
                                </div>
                            </div>
                        </div>
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'contact.enabled'|trans }} :</label>
                                <div class="controls">
                                	{% if contact.enabled %}
                                        {{ 'enabled'|trans }}
                                    {% else %}
                                        {{ 'disabled'|trans }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ include('SrmWebsiteBundle:Partials:_edit_cancel.html.twig', {
                        url_edit:   path('srm_website_contact_edit',  {'organisationId': organisationId, 'contactId': contact.contactId}),
                        url_cancel: path('srm_website_contacts_list', {'organisationId': organisationId})
                    }, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
