{% extends '::layout.html.twig' %} 

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'items.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'items.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'items.nav.saisie'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'items.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.answers) }}
                                </div>
                                <div class="control-group">
                                    <div class="controls">{{ form_widget(form.answers) }}</div>
                                </div>

                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_indicator_items_list', {'organisationId': organisationId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}