{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-building"></i> {{ 'items.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'items.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'items.nav.saisie'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'items.list.title'|trans }} </span>
                    </div>
                    <div class="box-content">
                       <table class="dTable responsive dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
			            	<thead>
				                <tr role="row">
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'items.list.label'|trans }}</div></th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"><div>{{ 'items.list.question'|trans }}</div></th>
                                    <th style="width:115px"></th>
                                </tr>
                            </thead>
                            <tbody  role="alert" aria-live="polite" aria-relevant="all">
                                {% for item in items %}
                                    <tr class="odd">
                                        <td>{{ item.label }}</td>
                                        <td>{{ item.itemQuestions.description }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('srm_indicator_items_show', { 'organisationId': organisation.organisationId, 'itemId': item.itemId }) }}" class="btn btn-default" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                                {% for answer in answers %}
                                                    {% if answer.unitMeasurement and answer.item.itemId == item.itemId %}
                                                        <a href="{{ path('srm_indicator_items_edit', { 'organisationId': organisation.organisationId, 'itemId': item.itemId, 'unitMeasurementId': answer.unitMeasurement.unitMeasurementId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="9">{{ 'items.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
