{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function() {
                $('#items a').editable({
                    type: 'text',
                    name: 'items',
                    url: $('#data-url').val(),
                    title: 'Saisissez la réponse',
                    success: function(response, newValue) {
                        if($.trim(newValue) == '') {
                            return 'Merci de saisir une valeur';
                        }
                    }
                });
            });   
        </script>
{% endblock %}

{% block main_container_header %}
    <i class="icon-building"></i> {{ 'items.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'items.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'items.nav.saisie'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'items.list.title'|trans }} </span>
                    </div>
                    <div class="box-content">
                        <table id="items" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <td>{{ 'items.list.question'|trans }}</td>
                                    <td>{{ 'items.list.response'|trans }}</td>
                                    <td>{{ 'items.list.unit'|trans }}</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.itemQuestions.description }}</td>
                                            {% for answer in answers %}
                                                {% if answer.unitMeasurement and answer.item.itemId == item.itemId %}
                                                    <td>
                                                        <a href="#" data-url="{{ path('srm_indicator_items_edit', { 'organisationId': organisation.organisationId, 'itemId': item.itemId }) }}" data-pk="1">
                                                            {% for itemAnswer in itemAnswers %}
                                                                {% if itemAnswer.answers.answersId == answer.answersId %}
                                                                    {{ itemAnswer.answer }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </a>
                                                    </td>
                                                <td>{{ answer.unitMeasurement.label }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="9">{{ 'items.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
