<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}SRM{% endblock %}</title>

       <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">-->

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/srmwebsite/css/application.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/srmwebsite/css/font-awesome.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/srmwebsite/css/style.css') }}" media="screen" />
        {% block stylesheets %}{% endblock %}

        <script type="text/javascript" src="{{ asset('bundles/srmwebsite/js/application.js') }}"></script>
        {# <script type="text/javascript" src="{{ asset('bundles/srmwebsite/js/graphs.js') }}"></script> #}
        <script type="text/javascript" src="{{ asset('bundles/srmwebsite/js/highcharts.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        {% block body %}
            <div class="navbar navbar-top navbar-inverse">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <a class="brand"  {% if identificationCode is defined %}
                            href="{{ path('srm_website_organisation_index', { 'identificationCode': identificationCode }) }}"
                        {% elseif organisation is defined %}
                            href="{{ path('srm_website_organisation_index', { 'identificationCode': organisation.organisationId }) }}"
                        {% else %}
                            href="{{ path('srm_website_organisation_index', { 'identificationCode': organisationId }) }}"
                        {% endif %}>
                            <i class="icon-home icon-2x"></i>Verseo SRM
                        </a>

                        <!-- ? -->
                        <ul class="nav pull-right">
                            <li class="toggle-primary-sidebar hidden-desktop" 
                                data-toggle="collapse" 
                                data-target=".nav-collapse-primary">
                                <button type="button" class="btn btn-navbar"><i class="icon-th-list"></i></button>
                            </li>

                            <li class="hidden-desktop" 
                                data-toggle="collapse" 
                                data-target=".nav-collapse-top">
                                <button type="button" class="btn btn-navbar"><i class="icon-align-justify"></i></button>
                            </li>
                        </ul>

                        <!-- Header Profil container -->
                        
                        <div class="nav-collapse nav-collapse-top collapse">
                            <ul class="nav full pull-right">
                                <li class="dropdown user-avatar">
                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                        <!-- Visible -->
                                      
                                        <a href="dashboard.html#" class="dropdown-toggle" data-toggle="dropdown"> 
                                            <span>
                                                {% if app.user.contact.picture %}
                                                    <img class="menu-avatar" src="{{ asset('uploads/documents/' ~ app.user.contact.lastname ~ '/' ~ app.user.contact.picture)}}"/> <span>{{ app.user.username }}<i class="icon-caret-down"></i></span>
				                {% else %}
                                                    <img class="menu-avatar" src="{{ asset('bundles/srmwebsite/images/avatars/avatar-default.png') }}" /> <span>{{ app.user.username }}<i class="icon-caret-down"></i></span>
                                                {% endif %}
                                                <!--<span class="badge badge-dark-red">5</span>-->
                                            </span>
                                        </a>
    
                                        <!-- Dropdown -->
                                        <ul class="dropdown-menu">
                                            <li class="with-image">
                                                <div class="avatar">
                                                   {% if app.user.contact.picture %}
                                                        <img class="menu-avatar" src="{{ asset('uploads/documents/contact' ~ app.user.contact.lastname ~ '/' ~ app.user.contact.picture)}}"/> 
                                                   {% else %}
                                                        <img class="menu-avatar" src="{{ asset('bundles/srmwebsite/images/avatars/avatar-default.png') }}" /> 
                                                   {% endif %}
                                                </div>
                                                        <span>{{ app.user.username }}</span>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a  {% if identificationCode is defined %}
                                                                href="{{ path('srm_website_contact_show', { 'organisationId': identificationCode, 'contactId': app.user.id }) }}"
                                                            {% elseif organisation is defined %}
                                                                href="{{ path('srm_website_contact_show', { 'organisationId': organisation.organisationId, 'contactId': app.user.id }) }}"
                                                            {% else %}
                                                                href="{{ path('srm_website_contact_show', { 'organisationId': organisationId, 'contactId': app.user.id }) }}"
                                                            {% endif %}>

                                                    <i class="icon-user"></i> <span>{{ 'header.profile.profile'|trans }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_user_change_password')}}">
                                                    <i class="icon-cog"></i> <span>{{ 'header.profile.settings'|trans }} </span>
                                                </a>
                                            </li>
                                            <li><a href="#">
                                                    <i class="icon-envelope"></i> <span>{{ 'header.profile.message'|trans }} </span>
                                                </a>
                                            </li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">
                                                    <i class="icon-off"></i> <span>{{ 'header.profile.logout'|trans }} </span>
                                                </a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'header.profile.connect'|trans }}</a>
                                    {% endif %}
                                </li>
                            </ul>

                            <!-- Header search -->
                         <!-- Rechercher  <form class="navbar-search pull-right">
                                <input type="text" class="search-query animated" placeholder="{{ 'header.profile.search'|trans }} ">
                                <i class="icon-search"></i>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- ? -->
            <div class="sidebar-background">
                <div class="primary-sidebar-background"></div>
            </div>

            <!-- Side Bar nav -->
            <div class="primary-sidebar">
                <ul class="nav nav-collapse collapse nav-collapse-primary">
                    <li class="dark-nav {% if app.request.attributes.get('_route') in ['srm_website_organisation_index'] %}active{% endif %}">
                        <span class="glow"></span>
                        <a  {% if identificationCode is defined %}
                            href="{{ path('srm_website_organisation_index', { 'identificationCode': identificationCode }) }}"
                        {% elseif organisation is defined %}
                            href="{{ path('srm_website_organisation_index', { 'identificationCode': organisation.organisationId }) }}"
                        {% else %}
                            href="{{ path('srm_website_organisation_index', { 'identificationCode': organisationId }) }}"
                        {% endif %}>
                            <i class="icon-home icon-2x"></i><span>{{ 'home'|trans }}</span>
                        </a>
                    </li>     
                    {% if is_granted('ROLE_A') %}
 <!-- app.request.attributes.get il ya une liaison entre les routes et le flash dans le rubrique Contacts dans le menu -->
                    <li class="dark-nav {% if app.request.attributes.get('_route') in ['srm_website_organisation_show','srm_website_organisation_basicsrm_website_organisation_legal','srm_website_organisation_legal','srm_website_sites_list','srm_website_sites_add','srm_website_site_show','srm_website_site_edit','srm_website_departments_list','srm_website_departments_add','srm_website_department_show','srm_website_department_edit','srm_website_poles_list','srm_website_poles_add','srm_website_pole_show','srm_website_pole_edit'] %}active{% endif %}">
                        <span class="glow"></span>
                        <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown1">
                            <i class="icon-cogs icon-2x"></i>
                            <span>{{ 'configuration.nav'|trans }}  <i class="icon-caret-down"></i></span>
                        </a>                   
                        <ul id="dropdown1" class="collapse {% if app.request.attributes.get('_route') in ['srm_website_organisation_show','srm_website_organisation_basicsrm_website_organisation_legal','srm_website_organisation_legal','srm_website_sites_list','srm_website_sites_add','srm_website_site_show','srm_website_site_edit','srm_website_departments_list','srm_website_departments_add','srm_website_department_show','srm_website_department_edit','srm_website_poles_list','srm_website_poles_add','srm_website_pole_show','srm_website_pole_edit'] %}in{% endif %}">

                            <li class="{% if app.request.attributes.get('_route') in ['srm_website_organisation_show','srm_website_organisation_basicsrm_website_organisation_legal','srm_website_organisation_legal'] %}active{% endif %}">
                                <a  {% if identificationCode is defined %}
                                        href="{{ path('srm_website_organisation_show', { 'identificationCode': identificationCode }) }}"
                                    {% elseif organisation is defined %}
                                        href="{{ path('srm_website_organisation_show', { 'identificationCode': organisation.organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_website_organisation_show', { 'identificationCode': organisationId }) }}"
                                    {% endif %}>
                                    <i class="icon-question-sign"></i> {{ 'configuration.nav.info'|trans }} 
                                </a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') in ['srm_website_shareholders_list','srm_website_shareholders_add'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_website_shareholders_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_website_shareholders_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_website_shareholders_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-resize-vertical"></i> {{ 'configuration.nav.shareholder'|trans }} 
                                </a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') in ['srm_website_sites_list','srm_website_sites_add','srm_website_site_show','srm_website_site_edit'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_website_sites_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_website_sites_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_website_sites_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-building"></i> {{ 'sites.list.title'|trans }} 
                                </a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') in ['srm_website_departments_list','srm_website_departments_add','srm_website_department_show','srm_website_department_edit'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_website_departments_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_website_departments_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_website_departments_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-sitemap"></i> {{ 'departments.list.title'|trans }} 
                                </a>
                            </li>  
                            <li class="{% if app.request.attributes.get('_route') in ['srm_website_poles_list','srm_website_poles_add','srm_website_pole_show','srm_website_pole_edit'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_website_poles_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_website_poles_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_website_poles_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-circle-blank"></i> {{ 'poles.list.title'|trans }} 
                                </a>
                            </li>  
                        </ul>
                    </li>
{% endif %} 
      {% if is_granted('ROLE_SU') %}               
                    <li class="dark-nav {% if app.request.attributes.get('_route') in ['srm_website_contacts_list','srm_website_contacts_add','srm_website_user_show','srm_website_user_edit'] %}active{% endif %}">
                        <span class="glow"></span>
                        <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown2">
                            <i class="icon-user icon-2x"></i>
                            <span>{{ 'contacts.list.title'|trans }} <i class="icon-caret-down"></i></span>
                        </a>
                         <ul id="dropdown2" class="collapse {% if app.request.attributes.get('_route') in ['srm_website_contacts_list','srm_website_contacts_add','srm_website_user_show','srm_website_contact_edit'] %}in{% endif %}">
                            <li class="{% if app.request.attributes.get('_route') in ['srm_website_contacts_list','srm_website_contacts_add','srm_website_contact_show','srm_website_user_edit'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_website_contacts_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_website_contacts_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_website_contacts_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-group"></i> {{ 'contacts.nav.general'|trans }}
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="icon-user-md"></i> {{ 'role'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>

{% endif %} 
{% if is_granted('ROLE_A') %}     
                    <li class="dark-nav {% if app.request.attributes.get('_route') in ['srm_indicator_referencial_list','srm_indicator_referencial_add','srm_indicator_referencial_show','srm_indicator_referencial_edit','srm_indicator_indicator_list','srm_indicator_indicator_add','srm_indicator_indicator_show','srm_indicator_indicator_edit'] %}active{% endif %}">
                        <span class="glow"></span>
                        <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown3">
                            <i class="icon-hand-right icon-2x"></i>
                            <span>{{ 'indicator.nav'|trans }} <i class="icon-caret-down"></i></span>
                        </a>                      
                        <ul id="dropdown3" class="collapse {% if app.request.attributes.get('_route') in ['srm_indicator_referencial_list','srm_indicator_referencial_add','srm_indicator_referencial_show','srm_indicator_referencial_edit','srm_indicator_indicator_list','srm_indicator_indicator_add','srm_indicator_indicator_show','srm_indicator_indicator_edit'] %}in{% endif %}">
                            <li class="{% if app.request.attributes.get('_route') in ['srm_indicator_referencial_list','srm_indicator_referencial_add','srm_indicator_referencial_show','srm_indicator_referencial_edit'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_indicator_referencial_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_indicator_referencial_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_indicator_referencial_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-list-alt"></i> {{ 'indicator.nav.activate'|trans }}
                                </a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') in ['srm_indicator_indicator_list','srm_indicator_indicator_add','srm_indicator_indicator_show','srm_indicator_indicator_edit'] %}active{% endif %}">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_indicator_indicator_list', { 'organisationId': organisation.organisationId }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_indicator_indicator_list', { 'organisationId': organisationId }) }}"
                                    {% else %}
                                        href="{{ path('srm_indicator_indicator_list', { 'organisationId': identificationCode }) }}"
                                    {% endif %}>
                                    <i class="icon-reorder"></i> {{ 'indicator.nav.control'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
{% endif %} 
{% if is_granted('ROLE_U') %}  
                    <li class="dark-nav ">
                        <span class="glow"></span>
                        <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown4">
                            <i class="icon-table icon-2x"></i>
                            <span>{{ 'items.nav'|trans }} <i class="icon-caret-down"></i></span>
                        </a>
                        <ul id="dropdown4" class="collapse ">
                            <li class="">
                                <a href="#">
                                    <i class="icon-bell-alt"></i> {{ 'items.nav.alert'|trans }}
                                </a>
                            </li>
                            <li class="">
                                <a  {% if organisation is defined %}
                                        href="{{ path('srm_indicator_indicator_list', { 'organisationId': organisation.organisationId, 'referencialTypeId': 1 }) }}"
                                    {% elseif organisationId is defined %}
                                        href="{{ path('srm_indicator_indicator_list', { 'organisationId': organisationId, 'referencialTypeId': 1 }) }}"
                                    {% endif %}>
                                    <i class="icon-list-alt"></i> {{ 'items.nav.saisie'|trans }}
                                </a>
                            </li>
                            {# <li class="">
                                <a href="#">
                                    <i class="icon-paper-clip"></i> {{ 'items.nav.doc'|trans }}
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="icon-download-alt"></i> {{ 'items.nav.import'|trans }}
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="icon-edit"></i> {{ 'items.nav.edit'|trans }}
                                </a>
                            </li> #}
                        </ul>
                    </li> 
                    {% endif %} 
                {% if is_granted('ROLE_A') %}  
                <!-- <li class="dark-nav {% if app.request.attributes.get('_route') in ['srm_website_contacts_list','srm_website_contacts_add','srm_website_user_show','srm_website_user_edit'] %}active{% endif %}">
                    <span class="glow"></span>
                    <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown5">
                        <i class="icon-share icon-2x"></i>
                        <span>{{ 'diffusion.list.title'|trans }} <i class="icon-caret-down"></i></span>
                    </a>
                </li> -->
              {% endif %} 
        {% if is_granted('ROLE_U') %}                            
                <li class="dark-nav ">
                    <span class="glow"></span>
                    <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown6">
                        <i class="icon-eye-open icon-2x"></i>
                        <span>{{ 'monitoring.nav'|trans }} <i class="icon-caret-down"></i></span>
                    </a>
                    <ul id="dropdown6" class="collapse ">
                        <li class="">
                            <a class="brand"  {% if identificationCode is defined %}
                                href="{{ path('srm_website_organisation_index', { 'identificationCode': identificationCode }) }}"
                            {% elseif organisation is defined %}
                                href="{{ path('srm_website_organisation_index', { 'identificationCode': organisation.organisationId }) }}"
                            {% else %}
                                href="{{ path('srm_website_organisation_index', { 'identificationCode': organisationId }) }}"
                            {% endif %}>
                                <i class="icon-dashboard"></i> {{ 'monitoring.nav.dashboard'|trans }}
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="icon-book"></i> {{ 'monitoring.nav.report'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>
             {% endif %} 
        {% if is_granted('ROLE_SU') %}     
                <li class="dark-nav ">
                    <span class="glow"></span>
                    <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown7">
                        <i class="icon-exchange icon-2x"></i>
                        <span>{{ 'stakeholder.nav'|trans }} <i class="icon-caret-down"></i></span>
                    </a>
                    <ul id="dropdown7" class="collapse ">
                        <li class="">
                            <a {% if organisation is defined %}
                                    href="{{ path('srm_website_groupStakeholders_list', { 'organisationId': organisation.organisationId }) }}"
                                {% elseif organisationId is defined %}
                                    href="{{ path('srm_website_groupStakeholders_list', { 'organisationId': organisationId }) }}"
                                {% else %}
                                    href="{{ path('srm_website_groupStakeholders_list', { 'organisationId': identificationCode }) }}"
                                {% endif %}>
                                <i class="icon-briefcase"></i> {{ 'stakeholder.nav.group'|trans }}
                            </a>
                        </li>
                        <li class="">
                            <a {% if organisation is defined %}
                                    href="{{ path('srm_website_stakeholders_list', { 'organisationId': organisation.organisationId }) }}"
                                {% elseif organisationId is defined %}
                                    href="{{ path('srm_website_stakeholders_list', { 'organisationId': organisationId }) }}"
                                {% else %}
                                    href="{{ path('srm_website_stakeholders_list', { 'organisationId': identificationCode }) }}"
                                {% endif %}>
                                <i class="icon-link"></i> {{ 'stakeholder.nav.stakeholder'|trans }}
                            </a>
                        </li>
                        {# <li class="{% if app.request.attributes.get('_route') in ['srm_website_contacts_list','srm_website_contacts_add','srm_website_contact_show','srm_website_user_edit'] %}active{% endif %}">
                            <a  {% if organisation is defined %}
                                    href="{{ path('srm_website_contacts_list', { 'organisationId': organisation.organisationId }) }}"
                                {% elseif organisationId is defined %}
                                    href="{{ path('srm_website_contacts_list', { 'organisationId': organisationId }) }}"
                                {% else %}
                                    href="{{ path('srm_website_contacts_list', { 'organisationId': identificationCode }) }}"
                                {% endif %}>
                                <i class="icon-share icon-2"></i> {{ 'diffusion.nav.general'|trans }}
                            </a>
                        </li> #}
                    </ul>
                </li>
            {% endif %} 
                
                    <li class="dark-nav ">
                        <span class="glow"></span>
                        <a class="accordion-toggle collapsed " data-toggle="collapse" href="#dropdown8">
                            <i class="icon-certificate icon-2x"></i>
                            <span>{{ 'advanced.nav'|trans }} <i class="icon-caret-down"></i></span>
                        </a>
                        <ul id="dropdown8" class="collapse ">
                            <li class="">
                                <a href="#">
                                    <i class="icon-hand-up"></i> Sub Menu
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Main Container -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row-fluid">
					
					<!-- Fil d'arianne -->
                        <div class="container-fluid padded">
                            <div class="row-fluid">
                                <div id="breadcrumbs">
                                    <div class="breadcrumb-button blue">
                                        <span class="breadcrumb-label">Accueil</span>
                                        <span class="breadcrumb-arrow"><span></span></span>
                                    </div>
                                    {% block breadcrumb '' %}
                                </div>
                            </div>
                        </div>

                        <!-- Header -->
                        <div class="area-top clearfix">
                            <div class="pull-left header">
                                <h3 class="title">
                                    {% block main_container_header '' %}
                                </h3>
                            </div>
                        </div>


                        

                        {% block content '' %}
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>
