<li style="list-style-type:none">
    {{ form_label( address.label) }}
    {{ form_widget(address.label) }}
    {{ form_errors(address.label) }}
</li>

<li style="list-style-type:none">
    {{ form_label( address.zip.code) }}
    {{ form_widget(address.zip.code) }}
    {{ form_errors(address.zip.code) }}
</li>

<li style="list-style-type:none">
    {{ form_label( address.city) }}
    {{ form_widget(address.city) }}
    {{ form_errors(address.city) }}
</li>

<li style="list-style-type:none">
    {{ form_label( address.country) }}
    {{ form_widget(address.country) }}
    {{ form_errors(address.country) }}
</li>
