{% extends '::layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.label) }}

            {{ form_row(form.address.label) }}
            {{ form_row(form.address.zip.code) }}
            {{ form_row(form.address.zip.city) }}
            {{ form_row(form.address.zip.country) }}

            {{ form_row(form.identificationCode) }}
            {{ form_row(form.employees.label) }}
            {{ form_row(form.turnover.label) }}
            {{ form_row(form.slogan1) }}
            {{ form_row(form.slogan2) }}
            {{ form_row(form.slogan3) }}
            {{ form_row(form.picture) }}

            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                save_form: form.save,
                url_cancel: path('srm_website_organisation_show', {'identificationCode': identificationCode})
            }, with_context = false) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
