{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <ul class="unstyled">
                <li>{{ form_row(form.label) }}</li>

                <li>{{ form_row(form.address.label) }}</li>
                <li>{{ form_row(form.address.zip.code) }}</li>
                <li>{{ form_row(form.address.zip.city) }}</li>
                <li>{{ form_row(form.address.zip.country) }}</li>

                <li>{{ form_row(form.identificationCode) }}</li>
                <li>{{ form_row(form.slogan1) }}</li>
                <li>{{ form_row(form.slogan2) }}</li>
                <li>{{ form_row(form.slogan3) }}</li>
                <li>{{ form_row(form.logo) }}</li>
            </ul>

            {{ include('SrmWebsiteBundle:Partials:_actions.html.twig', {
                save: form.save,
                url: path('srm_website_organisation_show', {'identificationCode': identificationCode})
            }, with_context = false) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
