{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <ul class="unstyled">
                <li>{{ form_row(form.label) }}</li>
                <li>{{ form_row(form.natureCapital) }}</li>
                <li>{{ form_row(form.category) }}</li>
                <li>{{ form_row(form.registrationDate) }}</li>
            </ul>

            {{ include('SrmWebsiteBundle:Partials:_actions.html.twig', {
                save: form.save,
                url: path('srm_website_organisation_show', {'identificationCode': identificationCode})
            }, with_context = false) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
