{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-question-sign"></i> {{ 'configuration.nav.info'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav.info'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'organisation.basic.title'|trans }} - {{ organisation.label }} </span>
                        <ul class="box-toolbar">
                            <li><a  href="{{ path('srm_website_organisation_basic', {'identificationCode': organisation.identificationCode}) }}" class="btn btn-blue btn-mini">{{ 'button.edit'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="box-content padded">

                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.label'|trans }} :</label>
                                <div class="controls">{{ organisation.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.basic.address'|trans }} :</label>
                                <div class="controls">{{ organisation.address.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'address.zip'|trans }} :</label>
                                <div class="controls">{{ organisation.address.zip }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'address.city'|trans }} :</label>
                                <div class="controls">{{ organisation.address.city }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'address.country'|trans }} :</label>
                                <div class="controls">{{ organisation.address.country.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.identification_code'|trans }} :</label>
                                <div class="controls">{{ organisation.identificationCode }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.employees'|trans }} :</label>
                                <div class="controls">{{ organisation.employees.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.turnover'|trans }} :</label>
                                <div class="controls">{{ organisation.turnover.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.slogan1'|trans }} :</label>
                                <div class="controls">{{ organisation.slogan1 }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.slogan2'|trans }} :</label>
                                <div class="controls">{{ organisation.slogan2 }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.basic.slogan3'|trans }} :</label>
                                <div class="controls">{{ organisation.slogan3 }}</div>
                            </div>
                            {% if organisation.logo %}
				                <div class="control-group">
                                	<label class="control-label">{{ 'organisation.form.basic.logo'|trans }} :</label>
				                    	<img src="{{ asset('uploads/documents/' ~ organisation.identificationCode ~ '/' ~ organisation.logo)}}" alt="logo" height="70" width="66" />
				                </div>
				            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'organisation.legal.title'|trans }} - {{ organisation.label }} </span>
                        <ul class="box-toolbar">
                            <li><a href="{{ path('srm_website_organisation_legal', {'organisationId': organisation.organisationId}) }}" class="btn btn-blue btn-mini">{{ 'button.edit'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="box-content padded">
                        <div class="padded-box">
                        	<div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.label'|trans }} :</label>
                                {% if legalForm.legalStatus %}<div class="controls">{{ legalForm.legalStatus.label }}</div>{% endif %}
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.siret_number'|trans }} : </label>
                                {% if legalForm %}<div class="controls">{{ legalForm.siretNumber }}</div>{% endif %}
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.activity'|trans }} :</label>
                                {% if legalForm %}<div class="controls">{{ legalForm.activity }}</div>{% endif %}
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.activity_code'|trans }} :</label>
                                {% if legalForm %}<div class="controls">{{ legalForm.apeCode }}</div>{% endif %}
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.category'|trans }} : </label>
                                {% if legalForm %}<div class="controls">{{ legalForm.category }}</div>{% endif %}
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.registration_date'|trans }} :</label>
                                {% if legalForm %}<div class="controls">{{ legalForm.registrationDate|date("d/m/Y") }}</div>{% endif %}
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'organisation.form.legal.nationality'|trans }} : </label>
                                {% if legalForm %}<div class="controls">{{ legalForm.nationality }}</div>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
