{% extends "SrmWebsiteBundle::layout.html.twig" %}

{% block content %}
    <fieldset>
        <legend>{{ 'form.organisation.basic.title'|trans }}</legend>

        <ul>
            <li style="list-style-type:none">
                {{ 'form.organisation.basic.label'|trans }} : {{ organisation.label }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.address.label'|trans }} : {{ organisation.address.label }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.address.zip'|trans }} : {{ organisation.address.zip.code }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.address.city'|trans }} : {{ organisation.address.zip.city.label }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.address.country'|trans }} : {{ organisation.address.zip.city.country.label }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.organisation.basic.identification_code'|trans }} : {{ organisation.identificationCode }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.organisation.basic.slogan1'|trans }} : {{ organisation.slogan1 }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.organisation.basic.slogan2'|trans }} : {{ organisation.slogan2 }}
            </li>
            <li style="list-style-type:none">
                {{ 'form.organisation.basic.slogan3'|trans }} : {{ organisation.slogan3 }}
            </li>
        </ul>

        <a href="{{ path('srm_website_organisation_basic', {'identificationCode': organisation.identificationCode}) }}">{{ 'navigation.organisation.edit'|trans }}</a>
    </fieldset>

    <fieldset>
        <legend>{{ 'form.organisation.legal.title'|trans }}</legend>

        <ul>
        </ul>

        <a href="{{ path('srm_website_organisation_legal', {'identificationCode': organisation.identificationCode}) }}">{{ 'navigation.organisation.edit'|trans }}</a>
    </fieldset>
{% endblock %}
