<li style="list-style-type:none">
    {{ form_label( zip.code) }}
    {{ form_widget(zip.code) }}
    {{ form_errors(zip.code) }}
</li>

<li style="list-style-type:none">
    {{ form_label( zip.city) }}
    {{ form_widget(zip.city) }}
    {{ form_errors(zip.city) }}
</li>

<li style="list-style-type:none">
    {{ form_label( zip.country) }}
    {{ form_widget(zip.country) }}
    {{ form_errors(zip.country) }}
</li>
