{% extends "SrmCoreBundle::layout.html.twig" %}

{% block content %}
    <div>
        <form method="POST" action="{{ path('srm_core_organisation_basic') }}">
            {{ form_errors(form) }}

            <ul>
                <li><label>{{ 'form.organisation.label'|trans }} {{ form_row(form.label) }}</label></li>
                <li><label>{{ 'form.organisation.label'|trans }} {{ form_row(form.address) }}</label></li>
                <li><label>{{ 'form.organisation.label'|trans }} {{ form_row(form.identificationCode) }}</label></li>
                <li><label>{{ 'form.organisation.slogan1'|trans }} {{ form_row(form.slogan1) }}</label></li>
                <li><label>{{ 'form.organisation.slogan2'|trans }} {{ form_row(form.slogan2) }}</label></li>
                <li><label>{{ 'form.organisation.slogan3'|trans }} {{ form_row(form.slogan3) }}</label></li>
                <li><label>{{ 'form.organisation.logo'|trans }} {{ form_row(form.logo) }}</label></li>
            </ul>
        </form>
    </div>
{% endblock %}
