{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.label) }}
            {{ form_row(form.subDepartments) }}
            {{ form_row(form.sites) }}

            <a href="{{ path('srm_website_sites_add', { 'organisationId': organisationId }) }}" class="btn" title="{{ 'button.add'|trans }}"><i class="icon-plus"></i> {{ 'button.add'|trans }}</a>

            {{ form_row(form.contacts) }}

            <div class="control-group">
                <label class="control-label" for="srm_site_enabled">{{ form.enabled.vars.label|trans }}</label>
                <div class="controls">
                    {{ form_widget(form.enabled) }}
                </div>
            </div>

            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                save_form: form.save,
                url_cancel: path('srm_website_departments_list', {'organisationId': organisationId})
            }, with_context = false) }}

            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}
