{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-sitemap"></i> {{ 'departments.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'departments.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'departments.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.label) }}
                                    <div class="controls">{{ form_widget(form.label) }}</div>
                                </div>

                                {{ form_row(form.subDepartments, {'attr': {'class': 'icheck'}}) }}

                                <div class="control-group">
                                    {{ form_label(form.sites) }}
                                    <div class="controls">{{ form_widget(form.sites, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div>
                                {# <div class="control-group">
                                    {{ form_label(form.contacts) }}
                                    <div class="controls">{{ form_widget(form.contacts, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div> #}
                                <div class="control-group">
                                    <label class="control-label" for="srm_site_enabled">{{ form.enabled.vars.label|trans }}</label>
                                    <div class="controls">
                                        {{ form_widget(form.enabled, {'attr': {'class': 'iButton-icons'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_website_departments_list', {'organisationId': organisationId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
