{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        <table class="table table-hover table-condensed">
            <caption>
                <div class="text-left"><h3>{{ 'departments.list.title'|trans }}</h3></div>
                <div class="text-right">
                    <a href="{{ path('srm_website_departments_add', { 'organisationId': organisation.organisationId }) }}" class="btn" title="{{ 'button.add'|trans }}"><i class="icon-plus"></i> {{ 'button.add'|trans }}</a>
                </div>
            </caption>
            <thead>
                <tr>
                    <td>{{ 'departments.list.name'|trans }}</td>
                    <td>{{ 'departments.list.sites'|trans }}</td>
                    <td>{{ 'contacts'|trans }}</td>
                    <td>{{ 'departments.list.enabled'|trans }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{ department.label }}</td>
                        <td>
                            {% if department.sites %}
                                {{ department.sites|joinLabels(', ') }}
                            {% else %}
                                {{ 'departments.list.no_sites'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% if department.contacts %}
                                {{ department.contacts|joinLabels(', ') }}
                            {% else %}
                                {{ 'departments.list.no_contacts'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% if department.enabled %}
                                {{ 'enabled'|trans }}
                            {% else %}
                                {{ 'disabled'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="info"><td colspan="5">{{ 'departments.list.empty'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
