{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        <fieldset>
            <legend>{{ department.label }}</legend>
            <ul class="unstyled">
                <li>{{ 'department.label'|trans }} : {{ department.label }}</li>
                <li>{{ 'departments.list.sub_departments'|trans }} : {% if department.subDepartments %}{{ department.subDepartments|joinLabels(', ') }}{% else %}-{% endif %}</li>
                <li>{{ 'departments.list.users'|trans }} : {% if department.contacts %}{{ department.contacts|joinLabels(', ') }}{% else %}-{% endif %}</li>
            </ul>
        </fieldset>

        {{ include('SrmWebsiteBundle:Partials:_edit_cancel.html.twig', {
            url_edit:   path('srm_website_department_edit',  {'organisationId': organisationId, 'departmentId': department.departmentId}),
            url_cancel: path('srm_website_departments_list', {'organisationId': organisationId})
        }, with_context = false) }}
    </div>
{% endblock %}
