{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'groupStakeholders.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'stakeholder.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'groupStakeholders.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function() {
                $('#srm_groupStakeholder_stakeholderGroup').on('change', function() {
                    $('#srm_groupStakeholder_stakeholderArchetypes option').remove();
                    $.ajax({
                        url: "{{ path('archetypes_by_types', {'organisationId': organisationId}) }}",
                        type: "GET",
                        data: "type_id="+$(this).val(),
                        success: function(data){
                            $('#srm_groupStakeholder_stakeholderArchetypes').append(data);
                        }
                    });
                });
            });   
        </script>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'groupStakeholders.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.label) }}
                                    <div class="controls">{{ form_widget(form.label) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.stakeholderGroup) }}
                                    <div class="controls">{{ form_widget(form.stakeholderGroup, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.stakeholderArchetypes) }}
                                    <div class="controls">{{ form_widget(form.stakeholderArchetypes, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="srm_site_enabled">{{ form.enabled.vars.label|trans }}</label>
                                    <div class="controls">
                                        {{ form_widget(form.enabled, {'attr': {'class': 'icheck'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_website_groupStakeholders_list', {'organisationId': organisationId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
