{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'groupStakeholders.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'groupStakeholders.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title">  {{ groupStakeholder.label }} </span>
                    </div>
                    <div class="box-content padded">
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'groupStakeholders.label'|trans }} :</label>
                                <div class="controls">{{ groupStakeholder.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'groupStakeholders.list.type'|trans }}  : </label>
                                <div class="controls">
                                    {% if groupStakeholder.stakeholderGroup %}{{ groupStakeholder.stakeholderGroup .label }}{% endif %}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'groupStakeholders.list.archetype'|trans }} :</label>
                                <div class="controls">
                                    {% if groupStakeholder.stakeholderArchetypes %}{{ groupStakeholder.stakeholderArchetypes|joinLabels(', ') }}{% else %}{{ 'list.no_departments'|trans }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ include('SrmWebsiteBundle:Partials:_edit_cancel.html.twig', {
                        url_edit:   path('srm_website_groupStakeholders_edit',  {'organisationId': organisationId, 'groupStakeholderId': groupStakeholder.groupStakeholderId}),
                        url_cancel: path('srm_website_groupStakeholders_list', {'organisationId': organisationId})
                    }, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
