{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'stakeholders.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'stakeholder.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'stakeholders.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'stakeholders.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.label) }}
                                    <div class="controls">{{ form_widget(form.label) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.siretNumber) }}
                                    <div class="controls">{{ form_widget(form.siretNumber) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.lastname) }}
                                    <div class="controls">{{ form_widget(form.lastname) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.firstname) }}
                                    <div class="controls">{{ form_widget(form.firstname) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.email) }}
                                    <div class="controls">{{ form_widget(form.email) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.phone) }}
                                    <div class="controls">{{ form_widget(form.phone) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.fax) }}
                                    <div class="controls">{{ form_widget(form.fax) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.address.label) }}
                                    <div class="controls">{{ form_widget(form.address.label) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.address.zip) }}
                                    <div class="controls">{{ form_widget(form.address.zip) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.address.city) }}
                                    <div class="controls">{{ form_widget(form.address.city) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.address.country) }}
                                    <div class="controls">{{ form_widget(form.address.country, {'attr': {'class': 'chzn-select'}}) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.groupStakeholders) }}
                                    <div class="controls">{{ form_widget(form.groupStakeholders, {'attr': {'class': 'chzn-select select2'}}) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.importance) }}
                                    <div class="controls">{{ form_widget(form.importance) }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="srm_connexion">{{ form.connexion.vars.label|trans }}</label>
                                    <div class="controls">
                                        {{ form_widget(form.connexion, {'attr': {'class': 'icheck'}}) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.subsidiary) }}
                                    <div class="controls">{{ form_widget(form.subsidiary) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.startActivity) }}
                                    <div class="controls">{{ form_widget(form.startActivity) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.turnovers) }}
                                    <div class="controls">{{ form_widget(form.turnovers) }}</div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="srm_stakeholder_enabled">{{ form.enabled.vars.label|trans }}</label>
                                    <div class="controls">
                                        {{ form_widget(form.enabled, {'attr': {'class': 'icheck'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_website_stakeholders_list', {'organisationId': organisationId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
