{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'stakeholders.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'stakeholder.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'stakeholder.nav.stakeholder'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'stakeholders.list.title'|trans }} </span>
                        <ul class="box-toolbar">
                            <li><a class="btn btn-green btn-mini spacer" href="{{ path('srm_website_stakeholders_add', { 'organisationId': organisation.organisationId }) }}">{{ 'button.add'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">

                        <table class="table table-normal">
                            <thead>
                                <tr><td>{{ 'stakeholders.list.label'|trans }}</td>
                                    <td>{{ 'stakeholders.list.contacts'|trans }}</td>
                                    <td>{{ 'list.enabled'|trans }}</td>
                                    <td style="width:115px"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stakeholder in stakeholders %}
                                    <tr>
                                        <td>{{ stakeholder.label }}</td>
                                        <td>
                                            {% if stakeholder.contacts %}
                                                {{ stakeholder.contacts|joinLabels(', ') }}
                                            {% else %}
                                                {{ 'list_no_contacts'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if stakeholder.enabled %}
                                                {{ 'enabled'|trans }}
                                            {% else %}
                                                {{ 'disabled'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('srm_website_stakeholders_show', { 'organisationId': organisation.organisationId, 'stakeholderId': stakeholder.stakeholderId }) }}" class="btn btn-default" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                                <a href="{{ path('srm_website_stakeholders_edit', { 'organisationId': organisation.organisationId, 'stakeholderId': stakeholder.stakeholderId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                                <a href="{{ path('srm_website_stakeholders_disable', { 'organisationId': organisation.organisationId, 'stakeholderId': stakeholder.stakeholderId }) }}" class="btn btn-danger" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="9">{{ 'stakeholders.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
