{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'stakeholders.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'stakeholders.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title">  {{ stakeholders.label }} </span>
                    </div>
                    <div class="box-content padded">
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'stakeholders.label'|trans }} :</label>
                                <div class="controls">{{ stakeholders.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'stakeholders.list.groupStakeholders'|trans }}  : </label>
                                <div class="controls">
                                    {% if stakeholders.stakeholderGroup %}{{ stakeholders.stakeholderGroup .label }}{% endif %}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'stakeholders.list.contacts'|trans }} :</label>
                                <div class="controls">
                                    {% if stakeholders.contacts %}{{ stakeholders.contacts|joinLabels(', ') }}{% else %}{{ 'list.no_departments'|trans }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ include('SrmWebsiteBundle:Partials:_edit_cancel.html.twig', {
                        url_edit:   path('srm_website_stakeholders_edit',  {'organisationId': organisationId, 'stakeholderId': stakeholders.stakeholderId}),
                        url_cancel: path('srm_website_stakeholders_list', {'organisationId': organisationId})
                    }, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
