{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'indicators.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicator.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicators.nav.control'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'indicators.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.label) }}
                                    <div class="controls">{{ form_widget(form.label) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.code) }}
                                    <div class="controls">{{ form_widget(form.code) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.indicatorZone) }}
                                    <div class="controls">{{ form_widget(form.indicatorZone) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.indicatorGraph) }}
                                    <div class="controls">{{ form_widget(form.indicatorGraph) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.unitMeasurement) }}
                                    <div class="controls">{{ form_widget(form.unitMeasurement) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.screenPeriod) }}
                                    <div class="controls">{{ form_widget(form.screenPeriod) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.publicationFrequency) }}
                                    <div class="controls">{{ form_widget(form.publicationFrequency) }}</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.publicationDelay) }}
                                    <div class="controls">{{ form_widget(form.publicationDelay) }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="srm_indicator_enabled">{{ form.enabled.vars.label|trans }}</label>
                                    <div class="controls">
                                        {{ form_widget(form.enabled, {'attr': {'class': 'iButton-icons'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_indicator_indicator_list', {'organisationId': organisationId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}