{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'indicators.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicator.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicators.nav.control'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'indicators.list.title'|trans }} </span>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal fill-up'}}) }}
                        {{ form_errors(form) }}

                        <div class="box-content padded">
                            <div class="padded-box">
                                <div class="control-group">
                                    {{ form_label(form.label, 'Nombre d\'heures de formations (hommes)') }}
                                    <div class="controls"><input id="srm_indicator_label" type="text" value="67" autofocus="autofocus" required="required" name="srm_indicator[label]">&nbsp;</div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.label, 'Nombre d\'heures de formation (femmes)') }}
                                    <div class="controls"><input id="srm_indicator_label" type="text" value="33" autofocus="autofocus" required="required" name="srm_indicator[label]">&nbsp;h</div>
                                </div>
                            </div>
                        </div>

                        {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                            save_form: form.save,
                            url_cancel: path('srm_indicator_indicator_list', {'organisationId': organisationId, 'repositoryId': repositoryId})
                        }, with_context = false) }}

                        <div class="hide">
                            {{ form_widget(form._token) }}
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}