{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-circle-blank"></i> {{ 'repositories.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'configuration.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'repositories.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="box">
                    <div class="box-header">
                        <span class="title">  {{ repository.label }} </span>
                    </div>
                    <div class="box-content padded">
                        <div class="padded-box">
                            <div class="control-group">
                                <label class="control-label">{{ 'repository.label'|trans }} :</label>
                                <div class="controls">{{ repository.label }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'repository.description'|trans }} :</label>
                                <div class="controls">{{ repository.description }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'repositories.list.categories'|trans }}  : </label>
                                <div class="controls">
                                    {% if repository.repositoryCategories %}{{ repository.repositoryCategories|joinLabels(', ') }}{% else %}{{ 'list.no_repositoryCategories'|trans }}{% endif %}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ 'repositories.list.repositoryIndicators'|trans }}  : </label>
                                <div class="controls">
                                    {% if repository.repositoryIndicators %}{{ repository.repositoryIndicators|joinLabels(', ') }}{% else %}{{ 'list.no_repositoryIndicators'|trans }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ include('SrmWebsiteBundle:Partials:_edit_cancel.html.twig', {
                        url_edit:   path('srm_indicator_repository_edit',  {'organisationId': organisationId, 'repositoryId': repository.repositoryId}),
                        url_cancel: path('srm_indicator_repository_list', {'organisationId': organisationId})
                    }, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}