{% extends '@SrmWebsite/layout.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.gender) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.contactFunction) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.role) }}
{#
            {{ form_row(form.address.label) }}
            {{ form_row(form.address.zip.code) }}
            {{ form_row(form.address.zip.city) }}
            {{ form_row(form.address.zip.country) }}
#}
            {{ form_row(form.picture) }}
            {{ form_row(form.comments) }}

            <div class="control-group">
                <label class="control-label" for="srm_user_enabled">{{ form.enabled.vars.label|trans }}</label>
                <div class="controls">
                    {{ form_widget(form.enabled) }}
                </div>
            </div>

            {{ include('SrmWebsiteBundle:Partials:_save_cancel.html.twig', {
                save_form: form.save,
                url_cancel: path('srm_website_sites_list', {'organisationId': organisationId})
            }, with_context = false) }}

            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}
