{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-user"></i> {{ 'users.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'users.list.title'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">Général</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'users.list.title'|trans }} </span>
                        <ul class="box-toolbar">
                            <li><a class="btn btn-green btn-mini spacer" href="{{ path('srm_website_contacts_add', { 'organisationId': organisation.organisationId }) }}">{{ 'button.add'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td>{{ 'list.header.username'|trans }}</td>
                                    <td>{{ 'email'|trans }}</td>
                                    <td>{{ 'role'|trans }}</td>
                                    <td style="width:115px"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role.label }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('srm_website_user_edit', { 'organisationId': organisation.organisationId, 'userId': user.id }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="4">{{ 'users.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
