<div class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Verseo SRM</a>

      <!-- the new toggle buttons -->

      <ul class="nav pull-right">

        <li class="toggle-primary-sidebar hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-primary"><button type="button" class="btn btn-navbar"><i class="icon-th-list"></i></button></li>

        <li class="hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-top"><button type="button" class="btn btn-navbar"><i class="icon-align-justify"></i></button></li>

      </ul>
    </div>
  </div>
</div>

<div class="container"> 
    <div class="span5 offset3">
        <div class="padded">
            <div class="login box" style="margin-top: 80px;">
                <div class="box-header">
                    <span class="title">Changement de mot de passe</span>
                </div>
                <div class="box-content padded">
      <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                        {{ form_label(form.current_password) }}
                        <div class="input-prepend">
                             <span class="add-on"><i class="icon-user"></i></span>{{ form_widget(form.current_password) }}
                        </div>
                            
                        {{ form_label(form.new.first) }}
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            {{ form_widget(form.plainPassword.first) }}
                        </div>

                         {{ form_label(form.new.second) }}
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            {{ form_widget(form.new.second) }}
                        </div>
                        
                        <input class="btn btn-blue btn-block" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 
