{% extends '::layout.html.twig' %}

{% block main_container_header %}
    <i class="icon-building"></i> {{ 'datas.list.title'|trans }}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicator.nav'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
    <div class="breadcrumb-button">
        <span class="breadcrumb-label">{{ 'indicator.nav.activate'|trans }}</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-header">
                        <span class="title"> {{ 'datas.list.title'|trans }} </span>
                        <ul class="box-toolbar">
                            <li><a class="btn btn-green btn-mini spacer" href="{{ path('srm_indicator_data_add', { 'organisationId': organisation.organisationId }) }}">{{ 'button.add'|trans }}</a>
                                <!--<a class="btn btn-green btn-mini">Exporter</a>-->
                            </li>
                        </ul>
                    </div>
                    <div class="box-content">
                        <table class="table table-normal">
                            <thead>
                                <tr>
                                    <td>{{ 'datas.list.data'|trans }}</td>
                                    <td>{{ 'datas.list.name'|trans }}</td>
                                    <td>{{ 'datas.list.description'|trans }}</td>
                                    <td>{{ 'list.enabled'|trans }}</td>
                                    <td style="width:115px"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in datas %}
                                    <tr>
                                        <td>{{ data.dataType.label }}</td>
                                        <td>{{ data.label }}</td>
                                        <td>{{ data.description }}</td>
                                        <td>
                                            {% if data.enabled %}
                                                {{ 'enabled'|trans }}
                                            {% else %}
                                                {{ 'disabled'|trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ path('srm_indicator_data_show', { 'organisationId': organisation.organisationId, 'dataId': data.dataId }) }}" class="btn btn-default" title="{{ 'button.show'|trans }}"><i class="icon-eye-open"></i></a>
                                                <a href="{{ path('srm_indicator_data_edit', { 'organisationId': organisation.organisationId, 'dataId': data.dataId }) }}" class="btn btn-default" title="{{ 'button.edit'|trans }}"><i class="icon-pencil"></i></a>
                                                <a href="{{ path('srm_indicator_data_disable', { 'organisationId': organisation.organisationId, 'dataId': data.dataId }) }}" class="btn btn-danger" title="{{ 'button.delete'|trans }}"><i class="icon-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info"><td colspan="9">{{ 'datas.list.empty'|trans }}</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
